* {
  margin: 0;
  padding: 0;
}

.DraftEditor-root {
  margin: 5px;
  padding: 5px;
  min-height: 60vh;
  max-width: 80vw;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

blockquote {
  padding: 0 15px;
  border-left: 4px solid #dfdfdf;
  color: #666666;
}
